<!-- 文件描述：本网页是网站主页 -->
{% extends "base.html" %}

{% block other_link_value %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title_value %}
问答平台-首页
{% endblock %}

{% block container_value %}
<div class="row" style="margin-top: 20px;">
    <div class="col"></div>
    <div class="col-10">
        <ul class="question-ul">
            <li>
                <div class="side-question">
                    <img class="side-question-avatar" src="{{ url_for('static', filename='images/my.jpg') }}" alt="用户头像">
                </div>
                <div class="question-main">
                    <div class="question-title"><a href="#">钢铁侠是怎样炼成的</a></div>
                    <div class="question-content">传奇钢铁侠的成长之路</div>
                    <div class="question-detail">
                        <span class="question-author">limou3434</span>
                        <span class="question-time">2022年12月1日</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col"></div>
</div>
{% endblock %}